body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: hwb(0 91% 9%);
}

h1 {
    text-align: center;
    margin: 0; 
    padding: 10px 0; 
    font-size: 2vw; 
}

.container {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
    margin-bottom: 90px;
}

/*            __                              __            __           _ __     
  _________  / /___  ____  ____  ___     ____/ /__     ____/ /________  (_) /____ 
 / ___/ __ \/ / __ \/ __ \/ __ \/ _ \   / __  / _ \   / __  / ___/ __ \/ / __/ _ \
/ /__/ /_/ / / /_/ / / / / / / /  __/  / /_/ /  __/  / /_/ / /  / /_/ / / /_/  __/
\___/\____/_/\____/_/ /_/_/ /_/\___/   \__,_/\___/   \__,_/_/   \____/_/\__/\___/

*/

.colonne-gauche, .colonne-milieu, .colonne-droite {
    height: 100%;
}

.colonne-droite {
    flex: 2;
    overflow-y: auto;
    background-color: black;
    /*scrollbar-width: none;*/
}

.colonne-droite .image-set {
    display: none;
}

/*            __                              __                   _ ___           
  _________  / /___  ____  ____  ___     ____/ /_  __   ____ ___  (_) (_)__  __  __
 / ___/ __ \/ / __ \/ __ \/ __ \/ _ \   / __  / / / /  / __ `__ \/ / / / _ \/ / / /
/ /__/ /_/ / / /_/ / / / / / / /  __/  / /_/ / /_/ /  / / / / / / / / /  __/ /_/ / 
\___/\____/_/\____/_/ /_/_/ /_/\___/   \__,_/\__,_/  /_/ /_/ /_/_/_/_/\___/\__,_/                                                                                  

*/

.colonne-milieu {
    padding: 10px;
    flex: 1;
    overflow-y: auto;
   /* scrollbar-width: none;*/
}

.colonne-milieu a img {
    transition: all 0.3s ease;
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0));
    margin-bottom: 20px; 
}

.colonne-milieu a img:hover {
    filter: brightness(1.4) drop-shadow(0 0 40px rgba(255,255,255,1)); 
    z-index: 2; 
    animation: pulse 2s infinite ease-in-out;
}

.colonne-milieu a img.active {
    filter: brightness(1.4) drop-shadow(0 0 40px rgba(255,255,255,1)); 
}

/*            __                              __                               __       
  _________  / /___  ____  ____  ___     ____/ /__     ____ _____ ___  _______/ /_  ___ 
 / ___/ __ \/ / __ \/ __ \/ __ \/ _ \   / __  / _ \   / __ `/ __ `/ / / / ___/ __ \/ _ \
/ /__/ /_/ / / /_/ / / / / / / /  __/  / /_/ /  __/  / /_/ / /_/ / /_/ / /__/ / / /  __/
\___/\____/_/\____/_/ /_/_/ /_/\___/   \__,_/\___/   \__, /\__,_/\__,_/\___/_/ /_/\___/ 
                                                    /____/                              
*/

.colonne-gauche {
    background-color: hwb(0 91% 9%);
    flex: 0 0 30vw;
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 100px; 
}

.texte-haut {
    flex-shrink: 0;
    margin-bottom: 50px;
}

.texte-bas {
    flex-shrink: 0;
    margin-bottom: 60px;
}

#texte-projet-actif {
    flex: 1;
    min-height: 100px;
    margin-bottom: 20px;
}

.texte-projet {
    display: none;
}

.colonne-gauche .texte-haut h1 {
    padding: 0 0 5px;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 0.9vw;
    color: rgb(172, 172, 172);
    text-decoration: none;
    text-align: left;
    display: block; 
}

.colonne-gauche .texte-haut h1 {
    padding: 0 0 5px;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 0.9vw;
    color: rgb(172, 172, 172);
    text-decoration: none;
    text-align: left;
    display: block; 
}

.colonne-gauche .texte-bas h1 {
    padding: 0 0 5px;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;  
    font-size: 0.9vw;
    color: rgb(172, 172, 172);
    text-decoration: none;
    text-align: left;
    display: block; 
}

.colonne-gauche h1 {
    padding: 0 0 5px;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 0.9vw;
    color: rgb(142, 142, 142);
    text-decoration: none;
    text-align: left;
    display: block; 
}

.content img {
    width: 100%;
    height: auto;
}

.foncé {
    color: rgb(142, 142, 142);
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
}

.clair {
    color: rgb(172, 172, 172);
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
}

.colonne-gauche a {
    color: rgb(142, 142, 142);
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    color: inherit;
}
    
.colonne-gauche a:hover {
    color: #ffa6e0;
}

/*                             
   ____  ____ __   __
  / __ \/ __ `/ | / /
 / / / / /_/ /| |/ / 
/_/ /_/\__,_/ |___/  
                  
*/

.blur {
    position: fixed;
    bottom: 3vw; 
    left: 0;
    right: 0;
    height: 1vw;
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255));
    -webkit-backdrop-filter: blur(12px);
    z-index: 1; 
}

.navbar-bas {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3vw;
    background-color: rgb(255, 255, 255); 
    z-index: 1;
}

.navbar-bas nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-bas nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-bas nav ul li {
    flex: 1;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 1.3vw;
}

.navbar-bas nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgb(167, 167, 167);
    text-decoration: none;
}

.navbar-bas nav ul li a:hover {
    color: #ffa6e0;
}

/*                             
    __  ___                           __      
   /  |/  /___  ____ ___  ___  ____  / /______
  / /|_/ / __ \/ __ `__ \/ _ \/ __ \/ __/ ___/
 / /  / / /_/ / / / / / /  __/ / / / /_(__  ) 
/_/  /_/\____/_/ /_/ /_/\___/_/ /_/\__/____/  

*/

.image-row {
    display: flex;
    gap: 0px; 
    width: 100%;
}

.image-full {
    width: 100%;
    margin-bottom: 0px; 
    margin-top: 0px;
}

.image-column {
    flex: 1; 
}

.image-row img,.image-full img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block; 
}