/*
page de la fresque ondulee
*/

.body1{
	background-image: url(../images/fresqueonde.jpg);

}

#conteneur1{
	margin:calc(50vh - 300px) auto 0px;
	display: flex;
	justify-content: center;
}

.fresqueonde{
	width: 1300px;
	height: 600px;
	position: relative;
}

.textepagevide{
	background-color: black;
	text-decoration: none;
	position: absolute;
}

/*
page vide
*/

.body2{
	background-color: black;
}

#conteneur2{
	margin:calc(50vh - 300px) auto 0px;
	display: flex;
	justify-content: center;
}

.vide{
	width: 1300px;
	height: 600px;
	position: relative;
	top: 2%;
}

.vide a{
	font-family: "Pixelify Sans", sans-serif;
	font-size: 40px;
	color: white;
	text-decoration: none;
	margin:calc(50vh - 300px) auto 0px;
}

.textepagevide a{
	font-family: "Pixelify Sans", sans-serif;
	font-size: 40px;
	color: white;
	text-decoration: none;
}

/*
page IBM 1
*/

.ibmlogo{
	width: 1300px;
	height: 600px;
	position: relative;
}

/*
page IBM 2
*/

.ibmjournal{
	width: 1300px;
	height: 600px;
	position: relative;
}

/*
page IBM 3
*/

.ibmordi{
	width: 1300px;
	height: 600px;
	position: relative;
}

.defibm{
	position: absolute;
	width: 525px;
	height: 60px;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 20px;
	color: white;
	opacity: 1;
	top: 300px;
	margin:calc(50vh - 300px) auto 0px;
	animation: fade-inout 3s;
	background-color: black;
	border: 1px solid white;
	border-radius: 10px;
}

@keyframes fade-inout{
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}

/*
page apple 1
*/

.bigbrother{
	width: 1300px;
	height: 600px;
	position: relative;
}

/*
page apple 2
*/

.filleapple{
	width: 1300px;
	height: 600px;
	position: relative;
}

/*
page apple 3
*/

.drapeauusa{
	width: 1300px;
	height: 600px;
	position: relative;
}

/*
page apple 4
*/

.typodonneesperso{
	width: 1300px;
	height: 600px;
	position: relative;
}

/*
page apple 5
*/

.logoapple{
	width: 1300px;
	height: 600px;
	position: relative;
}

/*
page apple 6
*/

.machintosh{
	width: 1300px;
	height: 600px;
	position: relative;
}

.defapple{
	position: absolute;
	width: 525px;
	height: 200px;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 20px;
	color: white;
	opacity: 1;
	top: 210px;
	margin:calc(50vh - 300px) auto 0px;
	animation: fade-inout 3s;
	background-color: black;
	padding: 1px;
	border: 1px solid white;
	border-radius: 10px;
}

@keyframes fade-inout{
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}

/*
page debat
*/

.journaldebatdonnees{
	width: 1300px;
	height: 600px;
	position: relative;
}

.defdebat{
	position: absolute;
	width: 450px;
	height: 80px;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 20px;
	color: white;
	opacity: 1;
	top: 270px;
	margin:calc(50vh - 300px) auto 0px;
	animation: fade-inout 3s;
	background-color: black;
	padding: 1px;
	border: 1px solid white;
	border-radius: 10px;
}

@keyframes fade-inout{
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}

/*
page hacker 1
*/

.steveetandy{
	width: 1300px;
	height: 600px;
	position: relative;
}

/*
page hacker 2
*/

.photohippie1{
	width: 1300px;
	height: 600px;
	position: relative;
}

/*
page hacker 3
*/

.photohippie2{
	width: 1300px;
	height: 600px;
	position: relative;
}

/*
page hacker 4
*/

.phiberobtik{
	width: 1300px;
	height: 600px;
	position: relative;
}

.defhacker{
	position: absolute;
	width: 537px;
	height: 160px;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 20px;
	color: white;
	opacity: 1;
	top: 240px;
	margin:calc(50vh - 300px) auto 0px;
	animation: fade-inout 3s;
	background-color: black;
	border: 1px solid white;
	border-radius: 10px;
}

@keyframes fade-inout{
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}

/*
page barlow 1
*/

.journalbarlow{
	width: 1300px;
	height: 600px;
	position: relative;
}

/*
page barlow 2
*/

.barlow{
	width: 1300px;
	height: 600px;
	position: relative;
}

.defbarlow{
	position: absolute;
	width: 496px;
	height: 120px;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 20px;
	color: white;
	opacity: 1;
	top: 260px;
	margin:calc(50vh - 300px) auto 0px;
	animation: fade-inout 3s;
	background-color: black;
	border: 1px solid white;
	border-radius: 10px;
}

@keyframes fade-inout{
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}

/*
page wired
*/

.wired{
	width: 1300px;
	height: 600px;
	position: relative;
}

.defwired{
	position: absolute;
	width: 489px;
	height: 60px;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 20px;
	color: white;
	opacity: 1;
	top: 290px;
	margin:calc(50vh - 300px) auto 0px;
	animation: fade-inout 3s;
	background-color: black;
	border: 1px solid white;
	border-radius: 10px;
}

@keyframes fade-inout{
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}

/*
page nsfnet 1
*/

.logonsfnet{
	width: 1300px;
	height: 600px;
	position: relative;
}

/*
page nsfnet 2
*/

.mapnsfnet{
	width: 1300px;
	height: 600px;
	position: relative;
}

.defnsfnet{
	position: absolute;
	width: 491px;
	height: 60px;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 20px;
	color: white;
	opacity: 1;
	top: 280px;
	margin:calc(50vh - 300px) auto 0px;
	animation: fade-inout 6s;
	background-color: black;
	border: 1px solid white;
	border-radius: 10px;
}

@keyframes fade-inout{
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}

/*
page internet 1
*/

.logointernet{
	width: 1300px;
	height: 600px;
	position: relative;
}

/*
page internet 2
*/

.typointernet{
	width: 1300px;
	height: 600px;
	position: relative;
}

.definternet{
	position: absolute;
	width: 489px;
	height: 60px;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 20px;
	color: white;
	opacity: 1;
	top: 290px;
	margin:calc(50vh - 300px) auto 0px;
	animation: fade-inout 3s;
	background-color: black;
	border: 1px solid white;
	border-radius: 10px;
}

@keyframes fade-inout{
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}

/*
page fresque fini
*/

.body3{
	background-image: url(../images/fresque.png);

}

.fresquefini{
	width: 1300px;
	height: 600px;
	position: relative;
}

.textefin{
	background-color: black;
	text-decoration: none;
	position: absolute;
}

.textefin a{
	font-family: "Pixelify Sans", sans-serif;
	font-size: 40px;
	color: white;
	text-decoration: none;
	margin:calc(50vh - 300px) auto 0px;
}

/*
page conclusion
*/

.texteconclusion{
	position: absolute;
	width: 793px;
	height: 128px;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 25px;
	color: white;
	opacity: 1;
	top: 290px;
	margin:calc(50vh - 300px) auto 0px;
	animation: fade-inout 3s;
	background-color: black;
	border: 1px solid white;
	border-radius: 10px;
}